* {margin: 0 auto;padding: 0;box-sizing: border-box;}

.item-box {
    display: flex;
    max-width: 75%;
    flex-direction: column;
    margin-bottom: 1em;
}
.title-box {
    display: flex;
    border: .1em solid black;
    width: 100%;
    justify-content: space-between;
}
.title-content {
    flex-grow: 1;
}
.button-content {
    background: none;
    border: none;
}